<!DOCTYPE html>
<html>
  <head>
    <title>NodePop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>NodePop</h1>
    
    <p> Lista de tags: </p>
    
   
    <p><%= tags %></p>
   
  
  
  </body>
</html>
